* {
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0; }

h2 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 30px;
  font-size: 1.875rem;
  text-transform: uppercase;
  color: #2c3731;
  margin: 40px 0; }

a {
  color: inherit; }
  a:hover, a:focus {
    color: inherit; }

.mb-xxl {
  margin-bottom: 85px; }
  @media (max-width: 840px) {
    .mb-xxl {
      margin-bottom: 10px; } }
/*
#instafeed {
  width: 100%;
  max-width: 1920px;
  height: auto;
  overflow: hidden; }
  #instafeed a {
    position: relative;
    display: inline-block;
    width: 12.5%;
    height: auto; }
    #instafeed a img {
      width: 100%;
      height: auto; }

#instafeed .likes {
  background: rgba(19, 23, 9, 0.8);
  font-family: sans-serif;
  font-size: 1.125em;
  font-weight: bold;
  position: absolute;
  color: #ffffff;
  right: 0;
  top: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  text-align: center;
  line-height: 150px; }

#instafeed a:hover .likes {
  opacity: 1; }
*/
#map {
  width: 100%;
  height: 467px; }

.social-buttons {
  position: absolute;
  top: 400px;
  right: 0; }
  @media (max-width: 1245px) {
    .social-buttons {
      display: none; } }
  .social-buttons a {
    display: block;
    margin: 0;
    padding: 0; }
  .social-buttons img {
    border: none; }

h1 {
  font-family: 'Open Sans', sans-serif; }

.menu > li > a {
  padding: 0.7rem; }

.menu .active > a {
  color: inherit;
  background: none; }

@media (max-width: 640px) {
  .dropdown.menu.vertical > li.opens-right .is-dropdown-submenu {
    display: none; } }

.title-bar {
  background: #2c3731;
  margin-bottom: 10px; }

.dropdown.menu.vertical > li.opens-right > a::after {
  display: none;
  border-top-style: none;
  border-style: none; }

.dropdown.menu.medium-horizontal > li.is-dropdown-submenu-parent > a {
  padding-right: 0.7rem; }

.pagination {
  margin: 20px 0; }

.pagination a, .pagination button {
  font-size: 16px;
  font-size: 1rem;
  font-weight: 600;
  color: #2c3731;
  background: #f0f0f0; }

.pagination .current {
  font-weight: 600;
  background: #5dcf91; }

.pagination a:hover, .pagination button:hover {
  color: #2c3731;
  background: #5dcf91; }

.pagination-previous a, .pagination-next a {
  font-weight: normal;
  color: #ffffff;
  background: #2c3731; }

.pagination li {
  border-radius: none; }

.accordion-title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  color: #46504a; }

.accordion-content {
  border: none; }

.sticky {
  width: 100%; }
  @media (max-width: 1025px) {
    .sticky {
      position: static; } }

@media (max-width: 1030px) {
  #sticky-head {
    position: static; } }
@media (min-width: 1031px) {
  #sticky-head {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10; } }

header {
  width: 100%;
  min-height: 100px;
  background: #ffffff; }

.header__logo {
  /*width: 255px;
  height: 66px;*/
  text-align: center;
  padding: 15px 0;
  float: left; }

.header__menu {
  width: auto;
  height: 100%;
  color: #2c3731;
  float: left; }
  .header__menu li {
    display: inline-block;
    border-top: 2px solid transparent;
    height: 100%;
    padding: 25px 0 0 0; }
    @media (max-width: 745px) {
      .header__menu li {
        border: none;
        height: auto;
        padding: none; } }
    .header__menu li:hover {
      border-color: #5dcf91; }
  .header__menu .active {
    font-weight: bold;
    color: #2c3731;
    border-color: #5dcf91; }
  .header__menu a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none;
    padding: 0.7rem; }

footer {
  background: #2c3731; }
  footer ul {
    list-style-type: none; }
    @media (max-width: 1060px) {
      footer ul {
        text-align: left; } }
    @media (max-width: 640px) {
      footer ul {
        text-align: center; } }
    footer ul li {
      display: inline-block;
      margin-right: 2%;
      padding-top: 40px;
      padding-top: 2.5rem; }
    footer ul a {
      color: #ffffff; }
      footer ul a:hover {
        color: #ffffff;
        text-decoration: underline; }

.footer__logo {
  text-align: center;
  margin-top: 5px; }

.footer-text {
  font-size: 13px;
  font-size: 0.813rem;
  text-align: center;
  letter-spacing: .7px;
  color: #efefef;
  background: #222222;
  padding: 10px 0; }
  .footer-text p {
    margin-bottom: 0; }
  .footer-text img {
    vertical-align: middle;
    margin-left: 10px; }

.hp__banner {
  position: relative;
  width: 100%;
  height: 714px;
  background: #222222 url("../user-files/img/hp-banner.jpg") 50% 50% no-repeat; }
  @media (max-width: 1030px) {
    .hp__banner {
      margin-top: 0; } }
  @media (min-width: 1031px) {
    .hp__banner {
      margin-top: 100px; } }
  @media (max-width: 470px) {
    .hp__banner {
      height: auto;
      background-size: cover; } }
  .hp__banner h1 {
    font-size: 48px;
    font-size: 3rem;
    color: #ffffff;
    padding: 170px 0 25px 0; }
    @media (max-width: 560px) {
      .hp__banner h1 {
        padding: 20px 0 20px 0; } }
    .hp__banner h1 span {
      font-weight: lighter; }
  .hp__banner p {
    font-size: 20px;
    font-size: 1.25rem;
    font-weight: lighter;
    color: #ffffff;
    padding: 0 12%; }

.hp__banner-btn {
  display: inline-block;
  width: 223px;
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 15px 0;
  margin: 25px 0; }
  .hp__banner-btn:hover {
    color: #ffffff;
    text-decoration: underline; }

.hp_button-more {
  display: inline-block;
  width: 208px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  border-bottom: 4px solid #5dcf91;
  background: #2c3731 url("../img/hp-button-bg.png") -5px 50% no-repeat;
  transition: 300ms;
  margin: 40px 0;
  padding: 15px 0; }
  .hp_button-more:hover {
    border-color: #2c3731;
    background: #5dcf91; }

.hp__banner-get-more {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 40px;
  margin-left: auto;
  margin-right: auto; }
  @media (max-width: 475px) {
    .hp__banner-get-more {
      display: none; } }

.hp__facts {
  background: url("../img/hp-facts-bg.png") 100% 0 no-repeat;
  padding: 40px 0; }
  .hp__facts p {
    font-size: 24px;
    font-size: 1.5rem;
    color: #2c3731;
    margin: 0;
    padding: 0; }
  .hp__facts span {
    position: relative;
    display: block;
    font-size: 72px;
    font-size: 4.5rem;
    font-weight: bold;
    color: #5dcf91;
    margin: 0;
    padding: 0; }
  .hp__facts .after:after {
    position: absolute;
    right: 0;
    display: inline-block;
    content: "";
    width: 73px;
    height: 113px;
    background: url("../img/hp-facts-break-bg.png") no-repeat;
    vertical-align: middle; }
    @media (max-width: 985px) {
      .hp__facts .after:after {
        display: none; } }

.hp__about-us {
  min-height: 648px;
  background: url("../user-files/img/hp-about-us-bg.jpg") 50% 50% no-repeat;
  padding: 30px 0; }
  @media (max-width: 571px) {
    .hp__about-us {
      padding: 15px 0; } }
  @media (max-width: 470px) {
    .hp__about-us {
      height: auto;
      background-size: cover; } }
  .hp__about-us p {
    display: inline-block;
    width: 80%;
    font-size: 16px;
    font-size: 1rem;
    color: #2c3731;
    margin-bottom: 40px;
    padding: 10px 0; }
  @media (max-width: 1024px) {
    .hp__about-us > .row > .medium-12 p:nth-child(2) {
      border-radius: 5px;
      background: rgba(255, 255, 255, 0.85);
      padding: 15px; } }
  @media (max-width: 720px) {
    .hp__about-us > .row > .medium-12 > p a {
      width: 280px; } }
  @media (max-width: 720px) {
    .hp__about-us > .row > .medium-12 > p a:first-child {
      margin: 0px auto 5px auto !important; } }

.hp_about-us__fb-btn {
  display: inline-block;
  width: 265px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
  border-radius: 7px;
  background: #3b5998 url("../img/icn-facebook-btn.png") 2% 50% no-repeat;
  margin-right: 15px;
  padding: 17px 0 17px 1%; }
  @media (max-width: 571px) {
    .hp_about-us__fb-btn {
      margin-right: 0;
      margin-bottom: 10px; } }
  .hp_about-us__fb-btn:hover {
    text-decoration: underline;
    color: #ffffff; }

.hp_about-us__int-btn {
  display: inline-block;
  width: 265px;
  font-weight: bold;
  text-decoration: none;
  color: #2c3731;
  border-radius: 7px;
  background: #ffffff url("../img/icn-instagram-btn.png") 2% 50% no-repeat;
  padding: 17px 0 17px 2.5%; }
  .hp_about-us__int-btn:hover {
    text-decoration: underline;
    color: #2c3731; }

.hp__news {
  background: #f4f8f9;
  background-image: url("../img/hp-news-bg.png"), url("../img/hp-news-bg2.png");
  background-position: 0 100%, 100% 0;
  background-repeat: no-repeat, no-repeat; }

.hp__news__item {
  position: relative; }
  @media (max-width: 636px) {
    .hp__news__item {
      margin-bottom: 20px; } }
  .hp__news__item img {
    position: relative;
    width: 100%;
    max-height: 325px;
    overflow: hidden; }
  .hp__news__item a {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: inherit;
    text-decoration: none; }
    .hp__news__item a:hover h3:after {
      margin-left: 18px; }
  .hp__news__item .overlay {
    position: absolute;
    bottom: 10px;
    padding: 0 4%; }
    .hp__news__item .overlay h3 {
      display: inline-block;
      font-size: 24px;
      font-size: 1.5rem;
      font-weight: bold;
      color: #ffffff;
      margin: 0;
      padding: 0; }
      .hp__news__item .overlay h3:after {
        display: inline-block;
        content: "";
        width: 24px;
        height: 24px;
        background: url("../img/hp-news-arrow.png") no-repeat;
        vertical-align: middle;
        margin-left: 12px;
        transition: 300ms; }
    .hp__news__item .overlay span {
      display: block;
      font-size: 14px;
      font-size: 0.875rem;
      font-weight: lighter;
      color: #ffffff; }
    .hp__news__item .overlay p {
      font-size: 16px;
      font-size: 1rem;
      color: #ffffff; }

.hp__newsletter {
  min-height: 133px;
  background: #222222 url("../img/hp-newsletter-bg.png") no-repeat;
  background-size: cover;
  margin: 0 0 40px 0;
  padding: 10px 0; }
  @media (max-width: 860px) {
    .hp__newsletter {
      text-align: center; } }
  .hp__newsletter h3 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffffff;
    margin: 15px 0 10px 2%; }
  .hp__newsletter p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: lighter;
    color: #ffffff;
    margin-left: 2%; }
  .hp__newsletter form {
    position: relative;
    width: 353px;
    margin-top: 40px;
    margin-right: 2%;
    float: right;
    z-index: 2; }
    @media (max-width: 860px) {
      .hp__newsletter form {
        width: 80%;
        margin: 0 10%; } }
    .hp__newsletter form input[type="email"] {
      position: relative;
      width: 100%;
      height: 62px;
      border: none;
      font-size: 14px;
      font-size: 0.875rem;
      color: #909090;
      padding-left: 5%; }
    .hp__newsletter form input[type="submit"] {
      position: absolute;
      width: 66px;
      height: 69%;
      top: 4px;
      bottom: 2px;
      right: 1%;
      font-size: 24px;
      font-size: 1.5rem;
      color: #ffffff;
      border: none;
      background: #5dcf91; }
    .hp__newsletter form span {
      font-size: 0.750rem;
      color: #909090; }
    .hp__newsletter form .hp_newsletter__who {
      position: absolute;
      top: 22px;
      right: 140px; }
    .hp__newsletter form .hp__newsletter__male {
      position: absolute;
      top: 4px;
      right: 91px; }
    .hp__newsletter form .hp_newsletter__female {
      position: absolute;
      top: 24px;
      right: 87px; }
    .hp__newsletter form .hp_newsletter__youth {
      position: absolute;
      top: 42px;
      right: 75px; }

.hp__photos {
  background: url("../img/hp-photos-bg.png") 0 0 no-repeat; }

.hp__photos__item {
  position: relative;
  max-height: 285px;
  overflow: hidden; }
  @media (max-width: 636px) {
    .hp__photos__item {
      margin-bottom: 20px; } }
  .hp__photos__item:hover .hp_photos__item__hover {
    display: block; }
  .hp__photos__item img {
    width: 100%;
    overflow: hidden; }
  .hp__photos__item a {
    display: inline-block;
    width: 100%;
    height: 100%; }
  .hp__photos__item .overlay {
    position: absolute;
    left: 0;
    bottom: 5%;
    color: #ffffff;
    padding: 0 1%;
    z-index: 10; }
    .hp__photos__item .overlay h4 {
      font-size: 18px;
      font-size: 1.125rem;
      margin: 0;
      padding: 0; }
    .hp__photos__item .overlay p {
      font-size: 16px;
      font-size: 1rem;
      margin: 0;
      padding: 0 0 0 0.9rem; }

.hp__photos__gradient {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 30%;
  background: rgba(34, 34, 34, 0.7);
  z-index: 0; }

.hp_photos__item__hover {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  cursor: pointer;
  background: rgba(96, 201, 135, 0.8) url("../img/hp-photos-hover-bg.png") 50% 50% no-repeat; }

.hp__user-photos h2 {
  margin-bottom: 0; }
.hp__user-photos p {
  font-size: 16px;
  font-size: 1rem;
  color: #666666;
  margin: 0;
  padding: 0; }

.hp-user-photos__info {
  display: block;
  width: 385px;
  border-top: 1px solid #e5e5e5;
  border-bottom: 1px solid #e5e5e5;
  margin: 20px auto;
  padding: 7px 0; }
  @media (max-width: 385px) {
    .hp-user-photos__info {
      width: 100%; } }
  .hp-user-photos__info a {
    font-size: 16px;
    font-size: 1rem;
    font-weight: normal;
    color: #2c3731;
    text-decoration: none; }
    .hp-user-photos__info a:hover {
      text-decoration: underline; }
  .hp-user-photos__info a:first-child:before {
    display: inline-block;
    content: "";
    width: 28px;
    height: 28px;
    background: url("../img/icn-instagram.png") no-repeat;
    vertical-align: middle;
    margin-right: 2%; }
  .hp-user-photos__info a:last-child:before {
    display: inline-block;
    content: "";
    width: 28px;
    height: 28px;
    background: url("../img/icn-hastag.png") no-repeat;
    vertical-align: middle;
    margin-right: 2%; }

.hp__map {
  position: relative; }

.hp__map__contact {
  position: absolute;
  bottom: 10%;
  right: 10%;
  width: 350px;
  height: 350px;
  color: #ffffff;
  border-radius: 50%;
  background: #2c3731;
  z-index: 1; }
  @media (max-width: 705px) {
    .hp__map__contact {
      display: none; } }

.hp__map__contact__text {
  position: relative;
  top: 90px;
  left: 60px; }

.hp__map__contact__btn {
  display: inline-block;
  position: relative;
  left: 230px;
  width: 150px;
  height: 150px;
  font-weight: bold;
  text-align: center;
  line-height: 150px;
  border-radius: 50%;
  background: #5dcf91; }
  @media (max-width: 705px) {
    .hp__map__contact__btn {
      dipslay: none; } }

.hp__map__contact__b-top {
  position: relative;
  top: 140px;
  left: 130px;
  display: inline-block;
  width: 69px;
  height: 69px;
  border-radius: 50%;
  background: #5dcf91 url("../img/icn-back-top-arrow.png") 50% 50% no-repeat; }

.submenu {
  width: auto;
  min-width: 250px;
  border-radius: 4px;
  border: none;
  background: #5dcf91;
  padding: 0 0.5rem; }
  .submenu li {
    border: 0;
    border-bottom: 1px solid #ffffff;
    padding: 0.3rem 0; }
    .submenu li:hover {
      border-bottom: 1px solid #ffffff; }
    .submenu li:last-child {
      border: none; }
    .submenu li a {
      font-size: 16px;
      font-size: 1rem;
      font-weight: bold;
      color: #ffffff; }
      .submenu li a:hover {
        text-decoration: underline; }
  .submenu .arrow {
    position: relative;
    bottom: 10px;
    width: 100%;
    height: 12px;
    background: url("../img/icn-submenu-top-arrow.png") 10% 100% no-repeat; }

.main-submenu {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .main-submenu li {
    display: block;
    background: #2c3731 url("../img/icn-submenu-arrow.png") 90% 50% no-repeat;
    transition: 300ms;
    margin-bottom: 3px; }
    .main-submenu li:hover {
      background-color: #5dcf91; }
  .main-submenu a {
    display: inline-block;
    width: 90%;
    height: 100%;
    font-weight: 600;
    color: #ffffff;
    padding: 15px 4%; }

.helpdesk-info {
  background: #f0f0f0 url("../img/helpdesk-info-bg.png") 50% 80% no-repeat;
  margin-top: 10px;
  padding: 20px 0; }
  .helpdesk-info h3 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 0; }
  .helpdesk-info p {
    font-size: 18px;
    font-size: 1.125rem;
    margin-top: 0; }
    .helpdesk-info p a {
      font-weight: lighter;
      color: #2c3731;
      text-decoration: none; }
      .helpdesk-info p a:hover {
        color: #2c3731; }

.sub__banner {
  position: relative;
  width: 100%;
  min-height: 268px;
  background: #222222 url("../user-files/img/sub-banner.jpg") 50% 50% no-repeat;
  background-size: cover;
  padding: 55px 0 0 0; }
  @media (max-width: 1030px) {
    .sub__banner {
      margin-top: 0; } }
  @media (min-width: 1031px) {
    .sub__banner {
      margin-top: 100px; } }
  @media (max-width: 470px) {
    .sub__banner {
      height: auto;
      background-size: cover; } }
  .sub__banner h1 {
    width: 50%;
    font-size: 48px;
    font-size: 3rem;
    font-weight: bold;
    color: #ffffff;
    padding: 0; }
    @media (max-width: 885px) {
      .sub__banner h1 {
        width: 100%; } }
  .sub__banner p {
    width: 55%;
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: lighter;
    color: #ffffff; }
    @media (max-width: 700px) {
      .sub__banner p {
        width: 100%; } }

.sub__banner__btn {
  display: inline-block;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  color: #11130f;
  border-bottom: 4px solid #5dcf91;
  background: #ffffff url("../img/sub-banner-arrow.png") 5% 50% no-repeat;
  transition: 300ms;
  margin-top: 2.5rem;
  padding: 1rem 2.5rem; }
  .sub__banner__btn:hover {
    border-color: #2c3731; }

article {
  margin-top: 40px; }
  article h2 {
    font-size: 24px;
    font-size: 1.5rem;
    color: #5dcf91; }
  article p {
    font-size: 16px;
    font-size: 1rem;
    color: #2c3731;
    margin-bottom: 25px; }
    article p a {
      font-weight: bold;
      text-decoration: underline;
      color: #5dcf91; }
      article p a:hover {
        text-decoration: none;
        color: #5dcf91; }

.article__img {
  text-align: center;
  clear: both; }
  @media (max-width: 768px) {
    .article__img {
      margin: 0 auto 10px auto; } }
  .article__img span {
    display: inline-block;
    font-size: 14px;
    font-size: 0.875rem;
    color: #767676;
    margin: 10px 0; }
  .article__img img {
    width: 100%;
    height: auto; }

.fb-contact {
  width: 83.4%;
  height: auto;
  min-height: 300px;
  overflow: hidden;
  margin: 40px auto auto auto; }
  @media (max-width: 915px) {
    .fb-contact {
      width: 100%; } }

.fb-banner {
  width: 41.1%;
  height: 300px;
  background: #0D74B8 url("../img/fb-banner.jpg") 50% 50% no-repeat;
  margin-right: 4.4%;
  float: left; }
  @media (max-width: 915px) {
    .fb-banner {
      width: 90%;
      margin: 0 5%; } }
  .fb-banner a {
    display: inline-block;
    width: 100%;
    height: 100%; }

.fb-plugin {
  width: 54.4%;
  float: left; }
  @media (max-width: 915px) {
    .fb-plugin {
      display: none; } }

.contact__pictograms h2 {
  font-family: 'Open-sans', sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  text-transform: none; }
.contact__pictograms .icn-post:before {
  display: block;
  content: "";
  width: 100%;
  height: 64px;
  background: url("../img/icn-contact-post.png") 50% 50% no-repeat;
  margin-bottom: 10px; }
.contact__pictograms .icn-keyboard:before {
  display: block;
  content: "";
  width: 100%;
  height: 64px;
  background: url("../img/icn-contact-keyboard.png") 50% 50% no-repeat;
  margin-bottom: 10px; }
.contact__pictograms .icn-clock:before {
  display: block;
  content: "";
  width: 100%;
  height: 64px;
  background: url("../img/icn-contact-clock.png") 50% 50% no-repeat;
  margin-bottom: 10px; }

.contact__list {
  border-left: 1px solid #f0f0f0;
  border-right: 1px solid #f0f0f0;
  padding: 0 0.5rem; }
  .contact__list h2 {
    font-size: 24px;
    font-size: 1.5rem;
    color: #5dcf91; }
  .contact__list a {
    font-weight: 600;
    color: #5dcf91; }
  .contact__list .dotted {
    border-bottom: 2px dotted #dedcdc;
    margin: 25px 0; }
  .contact__list table thead, .contact__list table tbody, .contact__list table tfoot {
    border: none;
    background: none; }
  .contact__list table tbody th, .contact__list table tbody td {
    border: none;
    padding: 0.5rem 0; }
  .contact__list table tbody tr:nth-child(2n) {
    background: none; }

.contact__form {
  border-radius: 4px;
  background: #f0f0f0;
  padding: 1rem; }
  .contact__form h3 {
    font-size: 24px;
    font-size: 1.5rem;
    font-weight: bold;
    color: #5dcf91;
    padding: 1.2rem 0; }
  .contact__form input[type="text"] {
    height: 55px; }
  .contact__form input[type="submit"] {
    width: 100%;
    height: 55px;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    border: none;
    background: #2c3731; }
  .contact__form textarea {
    height: 200px; }
  .contact__form placeholder, .contact__form ::-moz-placeholder, .contact__form ::-webkit-input-placeholder, .contact__form :-ms-input-placeholder {
    font-size: 16px;
    font-size: 1rem;
    color: #ada8a8; }

.contact__info-box {
  min-height: 130px;
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  color: #2c3731;
  border-radius: 4px;
  background: #f0f0f0 url("../img/icn-contact-info-box-bg.png") 100% 100% no-repeat;
  margin-top: 20px;
  padding: 1.5rem 0 1rem 1rem; }
  .contact__info-box p {
    width: 85%; }

.be-fisher__boxes {
  margin-top: 30px; }
  .be-fisher__boxes h3 {
    font-size: 18px;
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
    color: #2c3731; }
  .be-fisher__boxes p {
    font-weight: lighter; }

.be-fisher__one-two:first-child {
  background: url("../img/be-fisher-1.png") 100% 100% no-repeat; }

.became-fisher h2:before {
  display: inline-block;
  width: 52px;
  height: 52px;
  font-family: 'Open-sans', sans-serif;
  font-size: 20px;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: #ffffff;
  border-radius: 50%;
  background: #5dcf91;
  vertical-align: middle;
  margin-right: 1rem;
  padding-top: 0.7rem;
  padding-left: 0.2rem; }
.became-fisher .icn-first:before {
  content: "1."; }
.became-fisher .icn-second:before {
  content: "2."; }
.became-fisher .icn-third:before {
  content: "3."; }
.became-fisher .icn-fourth:before {
  content: "4."; }

.photos h2 {
  font-size: 24px;
  font-size: 1.5rem;
  text-transform: none;
  color: #5dcf91;
  padding-left: 15px; }
.photos p {
  padding-left: 15px; }

.photos__item {
  position: relative; }
  @media (max-width: 1025px) {
    .photos__item {
      margin-bottom: 20px; } }
  .photos__item img {
    position: relative;
    width: 100%;
    max-height: 186px;
    overflow: hidden; }
  .photos__item .overlay {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(34, 34, 34, 0.7);
    padding: 0 4%; }
    .photos__item .overlay h3 {
      display: inline-block;
      font-size: 22px;
      font-size: 1.375rem;
      font-weight: bold;
      color: #ffffff;
      margin: 0;
      padding: 0; }
      .photos__item .overlay h3:after {
        display: inline-block;
        content: "";
        width: 17px;
        height: 18px;
        background: url("../img/photos-title-arrow.png") no-repeat;
        vertical-align: middle;
        margin-left: 12px;
        transition: 300ms; }
    .photos__item .overlay span {
      display: inline-block;
      display: block;
      font-size: 16px;
      font-size: 1rem;
      font-weight: lighter;
      color: #ffffff;
      padding-bottom: 10px; }
    .photos__item .overlay a {
      color: inherit;
      text-decoration: none; }
      .photos__item .overlay a:hover h3:after {
        margin-left: 18px; }

.photos__detail {
  margin-top: 40px; }

.news h2 {
  margin: 0; }
.news span {
  font-weight: lighter; }
.news p {
  font-weight: lighter;
  margin-top: 20px; }
  .news p a {
    color: #2c3731; }
    .news p a:hover {
      color: #2c3731; }
.news .row {
  border-bottom: 1px solid #cccccc;
  padding: 20px 0; }
  .news .row:last-child {
    border: none; }
.news .thumbnail {
  border: none;
  box-shadow: none;
  border-radius: 0; }
  .news .thumbnail:hover {
    box-shadow: none; }

.news__detail h2 {
  text-transform: none; }
.news__detail p {
  font-weight: lighter; }
  .news__detail p a {
    color: #2c3731; }
    .news__detail p a:hover {
      color: #2c3731; }
.news__detail form input[type="text"] {
  height: 55px; }
.news__detail form input[type="submit"] {
  width: 100%;
  height: 55px;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  border: none;
  background: #2c3731; }
.news__detail form textarea {
  height: 200px; }
  @media (max-width: 640px) {
    .news__detail form textarea {
      margin-top: 20px; } }
.news__detail form placeholder, .news__detail form ::-moz-placeholder, .news__detail form ::-webkit-input-placeholder, .news__detail form :-ms-input-placeholder {
  font-size: 16px;
  font-size: 1rem;
  color: #ada8a8; }

.grounds h4 {
  font-size: 16px;
  font-size: 1rem;
  font-weight: bold;
  color: #46504a;
  margin: 1.563rem 0; }
.grounds table {
  margin-top: 1.563rem; }
.grounds table thead, .grounds table tbody, .grounds table tfoot {
  border: none; }
.grounds table tbody tr:nth-child(2n) {
  background: none; }
.grounds .thumbnail {
  border: none;
  box-shadow: none;
  border-radius: 0; }
.grounds .tank td {
  border: 2px solid #c0c3c2; }
.grounds .tank td:first-child {
  font-weight: bold;
  color: #5dcf91; }
  .grounds .tank td:first-child:before {
    display: inline-block;
    content: "";
    width: 12px;
    height: 16px;
    background: url("../img/icn-grounds-location.png") no-repeat;
    vertical-align: middle;
    margin: 0.2rem; }

.accordion p {
  text-align: justify; }

.icn-grounds-length:before {
  display: inline-block;
  content: "";
  width: 21px;
  height: 21px;
  background: url("../img/icn-grounds-length.png") no-repeat;
  vertical-align: middle;
  margin-right: 0.2rem; }

.icn-grounds-drop:before {
  display: inline-block;
  content: "";
  width: 19px;
  height: 19px;
  background: url("../img/icn-grounds-drop.png") no-repeat;
  vertical-align: middle;
  margin-right: 0.2rem; }

.icn-grounds-gps:before {
  display: inline-block;
  content: "";
  width: 21px;
  height: 24px;
  background: url("../img/icn-grounds-gps.png") no-repeat;
  vertical-align: middle;
  margin-right: 0.2rem; }

.your-catch {
  margin-top: 40px; }

.your-catch .large-2.columns p {
  height: 70px;
  font-size: 14px;
  font-size: 0.875rem;
  overflow: hidden; }

.error404 {
  height: 89.7%;
  color: #ffffff;
  background: #070300 url("../user-files/img/404-bg.jpg") 50% 0 no-repeat; }
  .error404 h1 {
    font-size: 118px;
    font-size: 7.375rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    margin-top: 120px;
    margin-bottom: 0; }
  .error404 span {
    font-size: 30px;
    font-size: 1.875rem;
    font-weight: bold;
    color: #ffffff; }
  .error404 p {
    font-size: 16px;
    font-size: 1rem;
    font-weight: lighter;
    margin: 40px 0; }
  .error404 ol li {
    padding: 10px 0; }

/*!
 * animate.css -http://daneden.me/animate
 * Version - 3.5.1
 * Licensed under the MIT license - http://opensource.org/licenses/MIT
 *
 * Copyright (c) 2016 Daniel Eden
 */
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.slideInDown {
  -webkit-animation-name: slideInDown;
  animation-name: slideInDown; }

@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInLeft {
  from {
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInLeft {
  -webkit-animation-name: slideInLeft;
  animation-name: slideInLeft; }

@-webkit-keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInRight {
  from {
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInRight {
  -webkit-animation-name: slideInRight;
  animation-name: slideInRight; }

@-webkit-keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
@keyframes slideInUp {
  from {
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
    visibility: visible; }
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); } }
.slideInUp {
  -webkit-animation-name: slideInUp;
  animation-name: slideInUp; }

@-webkit-keyframes slideOutDown {
  from {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  to {
    visibility: hidden;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0); } }

td a {
	text-decoration: underline;
	color: #2ba6cb;
}

.divblock {
	display: block;
}

footer ul {
	margin-top: -15px;
	text-align: center;
}


.hp__map__contact__text {
	max-width: 230px;
}

.hp__newsletter form input[type="email"] {
	max-width: 180px;
}

/*# sourceMappingURL=css.css.map */
