<div id="TextSection">
<h1>{translate str="Vyskytly se problémy při platbě pomocí systému PayU"}</h1>

<h2>Informace ze systému PayU</h2>
Kód stavu:{$payu_status_code}<br />
Stavová zpráva:{$payu_status_message}<br />
Text chybové zprávy:{$payu_error_message}<br />



<br /><br />
<a href="{$url_base}" class="correct button left">{translate str="Přejít na úvodní stranu"}</a>
</div>