 <div class="helpdesk-info text-center">
                <h3>Máte dotazy?</h3>
                <p>Potřebujete s něčím poradit?</p>
                <h3><a href="tel:{$owner.tel}">{$owner.tel}</a></h3>
                <p><a href="mailto:{$owner.email}">{$owner.email}</a></p>
            </div>