.contact__pictograms {
	h2 {
		font-family: 'Open-sans', sans-serif;
		font-size: 20px;
		font-size: 1.25rem;
		font-weight: bold;
		text-transform: none;
	}

	.icn-post {
		&:before {
			display: block;
			content: "";
			width: 100%;
			height: 64px;
			background: url("../img/icn-contact-post.png") 50% 50% no-repeat;
			margin-bottom: 10px;
		}
	}

	.icn-keyboard {
		&:before {
			display: block;
			content: "";
			width: 100%;
			height: 64px;
			background: url("../img/icn-contact-keyboard.png") 50% 50% no-repeat;
			margin-bottom: 10px;
		}
	}

	.icn-clock {
		&:before {
			display: block;
			content: "";
			width: 100%;
			height: 64px;
			background: url("../img/icn-contact-clock.png") 50% 50% no-repeat;
			margin-bottom: 10px;
		}
	}
}

.contact__list {
	border-left: 1px solid #f0f0f0;
	border-right: 1px solid #f0f0f0;
	padding: 0 0.5rem;

	h2 {
		font-size: 24px;
		font-size: 1.5rem;
		color: #5dcf91;
	}

	a {
		font-weight: 600;
		color: #5dcf91;
	}

	.dotted {
		border-bottom: 2px dotted #dedcdc;
		margin: 25px 0;
	}

	table thead, table tbody, table tfoot {
		border: none;
		background: none;
	}

	table tbody th, table tbody td {
		border: none;
		padding: 0.5rem 0;
	}

	table tbody tr:nth-child(2n) {
		background: none;
	}
}

.contact__form {
	border-radius: 4px;
	background: #f0f0f0;
	padding: 1rem;

	h3 {
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: bold;
		color: #5dcf91;
		padding: 1.2rem 0;
	}

	input[type="text"] {
		height: 55px;
	}

	input[type="submit"] {
		width: 100%;
		height: 55px;
		cursor: pointer;
		font-weight: bold;
		color: #ffffff;
		border: none;
		background: #2c3731;
	}

	textarea {
		height: 200px;
	}

	placeholder, ::-moz-placeholder, ::-webkit-input-placeholder, :-ms-input-placeholder {
		font-size: 16px;
		font-size: 1rem;
		color: #ada8a8;
	}
}

.contact__info-box {
	min-height: 130px;
	font-size: 16px;
	font-size: 1rem;
	font-weight: bold;
	color: #2c3731;
	border-radius: 4px;
	background: #f0f0f0 url("../img/icn-contact-info-box-bg.png") 100% 100% no-repeat;
	margin-top: 20px;
	padding: 1.5rem 0 1rem 1rem;

	p {
		width: 85%;
	}
}