footer {
	background: #2c3731;

	ul {
		list-style-type: none;

		@media (max-width: 1060px) {
			text-align: left;
		}

		@media (max-width: 640px) {
			text-align: center;
		}

		li {
			display: inline-block;
			margin-right: 2%;
			padding-top: 40px;
			padding-top: 2.5rem;
		}

		a {
			color: #ffffff;

			&:hover {
				color: #ffffff;
				text-decoration: underline;
			}
		}
	}
}

.footer__logo {
	text-align: center;
	margin-top: 5px;
}

.footer-text {
	font-size: 13px;
	font-size: 0.813rem;
	text-align: center;
	letter-spacing: .7px;
	color: #efefef;
	background: #222222;
	padding: 10px 0;

	p {
		margin-bottom: 0;
	}

	img {
		vertical-align: middle;
		margin-left: 10px;
	}
}	