.submenu {
	width: auto;
	min-width: 250px;
	border-radius: 4px;
	border: none;
	background: #5dcf91;
	padding: 0 0.5rem;

	li {
		border: 0;
		border-bottom: 1px solid #ffffff;
		padding: 0.3rem 0;

		&:hover {
			border-bottom: 1px solid #ffffff;
		}

		&:last-child {
			border: none;
		}

		a {
			font-size: 16px;
			font-size: 1rem;
			font-weight: bold;
			color: #ffffff;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.arrow {
		position: relative;
		bottom: 10px;
		width: 100%;
		height: 12px;
		background: url("../img/icn-submenu-top-arrow.png") 10% 100% no-repeat;
	}
}

.main-submenu {
	list-style-type: none;
	margin: 0;
	padding: 0;

	li {
		display: block;
		background: #2c3731 url("../img/icn-submenu-arrow.png") 90% 50% no-repeat;
		transition: 300ms;
		margin-bottom: 3px;

		&:hover {
			background-color: #5dcf91;
		}
	}

	a {
		display: inline-block;
		width: 90%;
		height: 100%;
		font-weight: 600;
		color: #ffffff;
		padding: 15px 4%;
	}
}

.helpdesk-info {
	background: #f0f0f0 url("../img/helpdesk-info-bg.png") 50% 80% no-repeat;
	margin-top: 10px;
	padding: 20px 0;

	h3 {
		font-size: 24px;
		font-size: 1.5rem;
		font-weight: 700;
		margin: 0;
	}

	p {
		font-size: 18px;
		font-size: 1.125rem;
		margin-top: 0;

		a {
			font-weight: lighter;
			color: #2c3731;
			text-decoration: none;

			&:hover {
				color: #2c3731;
			}
		}
	}
}

.sub__banner {
	position: relative;
	width: 100%;
	min-height: 268px;
	background: #222222 url("../user-files/img/sub-banner.jpg") 50% 50% no-repeat;
	background-size: cover;
	padding: 55px 0 0 0;

	@media (max-width: 1030px) {
		margin-top: 0;
	}

	@media (min-width: 1031px) {
		margin-top: 100px;
	}

	@media (max-width: 470px) {
		height: auto;
		background-size: cover;
	}

	h1 {
		width: 50%;
		font-size: 48px;
		font-size: 3rem;
		font-weight: bold;
		color: #ffffff;
		padding: 0;

		@media (max-width: 885px) {
			width: 100%;
		}
	}

	p {
		width: 55%;
		font-size: 18px;
		font-size: 1.125rem;
		font-weight: lighter;
		color: #ffffff;

		@media (max-width: 700px) {
			width: 100%;
		}
	}
}

.sub__banner__btn {
	display: inline-block;
	font-size: 16px;
	font-size: 1rem;
	font-weight: bold;
	text-transform: uppercase;
	text-align: center;
	color: #11130f;
	border-bottom: 4px solid #5dcf91;
	background: #ffffff url("../img/sub-banner-arrow.png") 5% 50% no-repeat;
	transition: 300ms;
	margin-top: 2.5rem;
	padding: 1rem 2.5rem;

	&:hover {
		border-color: #2c3731;
	}
}

article {
	margin-top: 40px;

	h2 {
		font-size: 24px;
		font-size: 1.5rem;
		color: #5dcf91;
	}

	p {
		font-size: 16px;
		font-size: 1rem;
		color: #2c3731;
		margin-bottom: 25px;

		a {
			font-weight: bold;
			text-decoration: underline;
			color: #5dcf91;

			&:hover {
				text-decoration: none;
				color: #5dcf91;
			}
		}
	}
}

.article__img {
	text-align: center;
	clear: both;

	@media (max-width: 768px) {
		margin: 0 auto 10px auto;
	}

	span {
		display: inline-block;
		font-size: 14px;
		font-size: 0.875rem;
		color: #767676;
		margin: 10px 0;
	}

	img {
		width: 100%;
		height: auto;
	}
}

.fb-contact {
	width: 64.1%;
	height: auto;
	min-height: 300px;
	overflow: hidden;
	margin: 40px auto auto auto;

	@media (max-width: 915px) {
		width: 100%;
	}
}

.fb-banner {
	width: 50.3%;
	height: 300px;
	background: #0D74B8 url("../img/fb-banner.jpg") 50% 50% no-repeat;
	margin-right: 4.7%;
	float: left;

	@media (max-width: 915px) {
		width: 90%;
		margin: 0 5%;
	}

	a {
		display: inline-block;
		width: 100%;
		height: 100%;
	}
}

.fb-plugin {
	width: 45%;
	float: left;

	@media (max-width: 915px) {
		display: none;
	}

}