.news {
	h2 {
		margin: 0;
	}

	span {
		font-weight: lighter;
	}

	p {
		font-weight: lighter;
		margin-top: 20px;

		a {
			color: #2c3731;

			&:hover {
				color: #2c3731;
			}
		}
	}

	.row {
		border-bottom: 1px solid #cccccc;
		padding: 20px 0;

		&:last-child {
			border: none;
		}
	}

	.thumbnail {
		border: none;
		box-shadow: none;
		border-radius: 0;

		&:hover {
			box-shadow: none;
		}
	}
}

.news__detail {
	h2 {
		text-transform: none;
	}

	p {
		font-weight: lighter;

		a {
			color: #2c3731;

			&:hover {
				color: #2c3731;
			}
		}
	}

	form {
		input[type="text"] {
		height: 55px;
		}

		input[type="submit"] {
			width: 100%;
			height: 55px;
			cursor: pointer;
			font-weight: bold;
			color: #ffffff;
			border: none;
			background: #2c3731;
		}

		textarea {
		height: 200px; 

			@media (max-width: 640px) {
				margin-top: 20px;
			}
		}

		placeholder, ::-moz-placeholder, ::-webkit-input-placeholder, :-ms-input-placeholder {
			font-size: 16px;
			font-size: 1rem;
			color: #ada8a8;
		}
	}
}