.photos {
	h2 {
		font-size: 24px;
		font-size: 1.5rem;
		text-transform: none;
		color: #5dcf91;
		padding-left: 15px;
	}

	p {
		padding-left: 15px;
	}
}

.photos__item {
	position: relative;

	@media (max-width: 1025px) {
		margin-bottom: 20px;
	}
	
	img {
		position: relative;
		width: 100%;
		max-height: 186px;
		overflow: hidden;
	}

	.overlay {
		position: absolute;
		bottom: 10px;
		padding: 0 4%;

		h3 {
			display: inline-block;
			font-size: 22px;
			font-size: 1.375rem;
			font-weight: bold;
			color: #ffffff;
			margin: 0;
			padding: 0;

			&:after {
				display: inline-block;
				content: "";
				width: 17px;
				height: 18px;
				background: url("../img/photos-title-arrow.png") no-repeat;
				vertical-align: middle;
				margin-left: 12px;
				transition: 300ms;
			}
		}

		span {
			display: block;
			font-size: 16px;
			font-size: 1rem;
			font-weight: lighter;
			color: #ffffff;
		}

		a {
			color: inherit;
			text-decoration: none;

			&:hover {
				h3 {
					&:after {
						margin-left: 18px;
					}
				}
			}
		}
	}
}

.photos__detail {
	margin-top: 40px;
}